

# Ignore build and dependency directories
/build/
/node_modules/

# Ignore temporary files
*.tmp
*.bak

# Ignore IDE-specific files and directories
.idea/
.vscode/
.idea/workspace.xml
# Ignore macOS Finder metadata
.DS_Store

# Ignore system-specific temporary files
Thumbs.db
desktop.ini
